<footer>
  <div class="conteiner rodape">
    <div class="d-flex align-items-center">
      <p>Uma empresa do grupo</p>
      <a href="#"><img class="ml-3" src="../assets/logo-scopo.png" alt=""></a>
    </div>
    <div>
      <ul class="d-flex">
        <li><img src="../assets/linkedin.png" alt=""></li>
        <li><img src="../assets/facebook.png" alt=""></li>
        <li><img src="../assets/instagram.png" alt=""></li>
        <li><img src="../assets/twitter.png" alt=""></li>
        <li><img src="../assets/youtube.png" alt=""></li>
      </ul>
    </div>
  </div>
</footer>
