<section class="newsletter">
  <div class="formulario">
    <h2><strong>Seja um dos primeiros</strong></h2>
    <p>A plataforma Ummense está em fase de testes e em algumas semanas você poderá aproveitar os benefícios da Ummense para impulsionar sua organização! Deixe aqui seu e-mail para avisarmos você.</p>
    <form>
      <div class="box-top">
        <div>
          <label class="mr-5">Nome</label>
        </div>
        <div>
          <label>Email</label>
        </div>
        <div class="last"></div>
      </div>
      <div class="box-down">
        <div>
          <input type="text" placeholder="Seu primeiro nome">
        </div>
        <div>
          <input type="text" placeholder="Insira seu nome e-mail">
        </div>
        <div>
          <button>Quero ser avisado</button>
        </div>
      </div>
    </form>
  </div>
</section>