<div class="conteiner">
  <nav class="social-medias">
    <a href="#">Contato</a>
    <ul>
      <li><img src="../assets/linkedin.png" alt=""></li>
      <li><img src="../assets/facebook.png" alt=""></li>
      <li><img src="../assets/instagram.png" alt=""></li>
      <li><img src="../assets/twitter.png" alt=""></li>
      <li><img src="../assets/youtube.png" alt=""></li>
    </ul>
  </nav>
</div>

<header>
  <div class="conteiner">
    <img src="../assets/logo.png" alt="">
  </div>
</header>

<main>
  <div class="conteiner">
    <div class="titulo text-center">
      <h1>
        Gestão de <span class="text-green">projetos</span>. <br> Simples, ágil e inteligente.
      </h1>
      <p>Destrave o melhor da sua equipe</p>
    </div>
    <div class="gestao-de-projetos"> 
      <img src="../assets/gestao-de-projetos.png" alt="">
    </div>
</div>
</main>


