body{
  margin: 0;
  padding: 0;
}
ul li{
  margin-left: 10px;
}


nav.social-medias{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}
nav.social-medias ul{
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}


header{
  background: #FBFCFD;
  border-top: 1px solid #E7EAEF;
  border-bottom: 1px solid #E7EAEF;
}

header div{
  padding: 17px 0;
}


main div div.titulo{
  margin: 80px 60px;
}
main div div.titulo h1{
  font-weight: bold;
  font-size: 50px;
  color: #404F61;
}
main div div.titulo p{
  color: #707070;
  font-size: 24px;
}

main div div.gestao-de-projetos {
  display: flex;
  justify-content: center;
}



section div.vantagens{
  width: 1100px;
  margin: 150px auto 0 auto;
}
section div.vantagens-top{
  text-align: center;
}
section div.vantagens-top h2{
  color: #4C6173;
  font-size: 35px;
  margin-bottom: 25px;
}
section div.vantagens-top p{
  font-size: 15px;
  margin-bottom: 38px !important;
}
section div.vantagens-down{
  width: 1100px;
  margin: 0 auto;
}
section div.vantagens-down div.box{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
section div.vantagens-down div.box div{
  width: 33.333%;
  font-size: 15px;
  margin-bottom: 30px;
}

.margin150px{
  margin: 0 150px;
}


section.produtividade{
  background: #3C9DD5;
  color: #fff;
  padding: 82px 0;
  margin-top: 96px;
}
section.produtividade div{
  padding: 0 80px;
}


section.metodologias{
  margin: 96px 0;
}
section.metodologias div.box{
  display: flex;
  justify-content: space-between;
}
section.metodologias div.box div{
  width: 50%;
}
section.metodologias div.box div p{
  font-weight: lighter;
}



section.newsletter {
  background: #364E62;
  color: #fff;
  padding: 90px 0;
}
section.newsletter div.formulario{
  width: 840px;
  margin: 0 auto;
}
section.newsletter div.formulario div.box-top{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
section.newsletter div.formulario div.box-top div{
  width: 300px;
}
section.newsletter div.formulario div.box-top div.last{
  width: 190px;
}
section.newsletter div.formulario div.box-down{
  display: flex;
  justify-content: space-between;
}


footer{
  padding: 35px 0;
}
footer div.rodape{
  display: flex;
  justify-content: space-between;
}
