<!-- SOCIAL MEDIAS BAR -->
<app-navbar></app-navbar>
<!-- HEADER -->
<app-header></app-header>

<main>
  <div class="conteiner">
    <div class="titulo text-center">
      <h1>
        Gestão de <span class="text-green">projetos</span>. <br> Simples, ágil e inteligente.
      </h1>
      <p>Destrave o melhor da sua equipe</p>
    </div>
    <div class="gestao-de-projetos"> 
      <img src="../assets/gestao-de-projetos.png" alt="">
    </div>
  </div>
</main>

<section>
  <div class="vantagens">
    <div class="vantagens-top">
      <h2>Um <strong>novo conceito em gestão</strong> de projetos</h2>
      <p>Da criação de um logotipo, até a construção de um edifício, da negociação de uma venda à logística da entrega, os projetos estão por toda parte, e precisam ser gerenciados de forma eficiente. Na Ummense, você não precisa ser expert em gestão para liderar uma equipe e alcançar os objetivos do projeto. Saiba instantaneamente o que cada um está fazendo e reúna todas as informações do projeto em um único lugar.</p>
    </div>
  </div>
  <div class="vantagens-down">
    
    <div class="box">
      <div>
        <p><span class="text-blue">Aumente a produtividade</span> Automatize facilmente tudo o que não precisa ser feito por humanos</p>
      </div>
      <div class="margin150px">
        <p><span class="text-blue">Simplifique seu dia a dia</span> Acompanhe todos os projetos do fluxo em uma única tela</p>
      </div>
      <div>
        <p><span class="text-blue">Organize e ative a colaboração</span> Seu time pode trabalhar junto com mais eficiência e sem perder nenhuma informação</p>
      </div>
    </div>

    <div class="box">
      <div>
        <p><span class="text-blue">Aprimore seu fluxo de trabalho</span> <br> Ao enxergar todas as etapas dos seus processos você pode otimizar os fluxos constantemente</p>
      </div>
      <div class="margin150px">
        <p><span class="text-blue">Alcance excelência operacional</span> Nenhuma etapa é negligenciada, sua empresa funciona perfeitamente.</p>
      </div>
      <div>
        <p><span class="text-blue">Gerencie equipes de modo eficaz</span>  Todos sabem o que precisam fazer e quando precisam entregar. E o gestor consegue acompanhar tudo</p>
      </div>
    </div>

    <div class="box">
      <div>
        <p><span class="text-blue">Entregue resultados confiáveis</span> Você saberá exatamente o que foi entregue para o cliente e qual é o resultado final dos projetos</p>
      </div>
      <div class="margin150px">
        <p><span class="text-blue">Fidelize seus clientes</span> <br> Seus clientes ficarão muito mais satisfeitos com uma comunicação organizada e entregas pontuais e de qualidade.</p>
      </div>
      <div>
        <p><span class="text-blue">Mensure o desempenho</span> <br> Com as estatísticas de projetos, equipes e colaboradores, você saberá exatamente o quanto sua organização está melhorando</p>
      </div>
    </div>    
  </div>
</section>


<section class="produtividade">
  <div class="conteiner text-center">
    <h2><strong>Mais tempo</strong> para o que realmente importa</h2>
    <p>Por mais importante que você pareça, não é legal ser o gestor extremamente ocupado, centralizador, correndo de um lado para o outro, estressado, esquecendo compromissos e informações importantes. Você acaba sem tempo para pensar estrategicamente sobre a empresa, sobre sua visão de futuro e em novas oportunidades de negócios. E aquilo que é o mais importante, mas não é urgente, é deixado de lado, como sua família, seus sonhos, sua saúde e seu propósito de vida. <br><br> Assuma o controle. Elimine o urgente e viva aquilo que realmente importa.</p>
  </div>
</section>

<section class="metodologias">
  <div class="conteiner box">
    <div>
      <img src="../assets/metodologias-ageis.png" alt="">
    </div>
    <div>
      <h2>As <strong>Metodologias Ágeis</strong> <br> nunca foram tão ágeis</h2>
      <p>Se você está familiarizado com termos como Scrum, Sprint, Kanban, Product Backlog, XP, FDD e outros termos semelhantes, a Ummense é pra você! Implante a sua forma de gestão na Ummense e ganhe ainda mais produtividade para a sua equipe. Facilite a gestão e o acompanhamento em tempo real mantendo o histórico de todas as informações relevantes para o projeto. Crie um subprojeto para cada Story e atribua à Sprint, mantendo o projeto principal com o histórico completo e Backlog.</p>
    </div>
  </div>
</section>

<!-- NEWSLETTER -->
<app-newsletter></app-newsletter>
<!-- FOTTER -->
<app-footer></app-footer>