/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

.text-green{
  color: #8bbd4f;
}

.conteiner{
  width: 1160px !important;
  margin: 0 auto ;
}